.slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    padding: 0;
    width: 100%;
    
    li {
        list-style-type: none;

        button {
            font-size: 0;
            height: 12px;
            width: 12px;
            border-radius: 50%;
            border: 0;
            margin: 0 2px;
        }
    }

    li.slick-active {
        button {
            background: $secondary-color;
        }
    }
}